<p id="notice"><%= notice %></p>

<p>
  <strong>Products.css.scss:</strong>
  <%= @stylesheet.products.css.scss %>
</p>

<%= link_to 'Edit', edit_stylesheet_path(@stylesheet) %> |
<%= link_to 'Back', stylesheets_path %>
